<div class="full">
  <div class="btn-home">
    <ion-button [routerLink]="`/home`">&lt;-Back</ion-button>
  </div>
  <h3>Ingredients:</h3>
  @for (ingredient of recipe.extendedIngredients; track $index) {
  <app-ingredient [ingredient]="ingredient"></app-ingredient>
  }
  <h3>Instructions:</h3>
  <ol>
    @for (item of recipe.analyzedInstructions[0].steps; track $index) {
    <li>{{ item.step }}</li>
    }
  </ol>
  <ion-button (click)="addToFavorite()">
    <ion-icon slot="start" name="heart"></ion-icon>
    {{ isFavorite(recipe.id) ? "Remove from Favorite" : "Add to Favorite" }}
  </ion-button>
</div>
